/* Style for the list of users */
.users-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style for each user */
.user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px auto;
}

/* Style for the user's photo */
.user-photo {
    flex: 0 0 100px;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
}

.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease-in-out;
}

.user-photo img:hover {
    transform: scale(1.1);
}

/* Style for the user's details */
.user-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user-details h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.user-details span {
    font-weight: 500;
    font-size: 20px;
}

.user-details a {
    display: none;
}

h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
  }

  img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .post-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }

  .post-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .post-container p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .comments-list {
    list-style: none;
    margin-left: 20px;
  }

  .comments-list li {
    margin-bottom: 5px;
  }

  .comments-list li span {
    font-weight: bold;
  }

/* Style for the "See All Posts" button */
.see-all-posts-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    padding: 10px ;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  /* Hover effect */
  .see-all-posts-button:hover {
    background-color: #0056b3;
  }
